{% extends "header.html" %}

{% block body %}

	<head>

		<!-- some scripts for the page -->
		<script type="text/javascript">

		// function callserver which takes postid and status (-1,1,0) as input and sends these two values to the server to update the database about the status of the posts. Then it also removes the posts from the page.
		function callserver(postid,status) {
		    var xmlhttp = new XMLHttpRequest();
		    xmlhttp.onreadystatechange = function() {
		    if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
		    	if (xmlhttp.status == 200) {
		    		// run the removepost() function after recieving response from server.
		      	removepost(postid);
		    	}
		    	else if (xmlhttp.status == 400) {
		      		alert('There was an error 400');
		    	}
		  	}
		};
		var data = String(status)+ "." + String(postid);
		xmlhttp.open("POST", "{{url_for('change_post_status_web')}}", true);
		xmlhttp.send(data=data);
		}

		// remove the post from the page
		function removepost(postid){
		  document.getElementById(postid).style.display = "none";
		}

		</script>
		<!-- end of script space -->

	</head>
	<!-- end of head space -->

	<ul class="tools" style="position: fixed; z-index: 1;background-color: black;color:white;" role="tablist">
    <li role="presentation" ><a href="{{url_for('pending_posts_web')}}" style="color:white" aria-controls="pending_posts_web" role="tab" data-toggle="tab">Pending Posts</a></li>
    <li role="presentation" ><a href="{{url_for('rejected_posts_web')}}" style="color:white" aria-controls="rejected_posts_web" role="tab" data-toggle="tab">Rejected Posts</a></li>
    <li role="presentation" ><a href="{{url_for('approved_posts_web')}}" style="color:white" aria-controls="approved_posts_web" role="tab" data-toggle="tab">Approved Posts</a></li>
    {% if session.rank > 1 %}
    <li role="presentation" ><a href="{{url_for('all_users_web')}}" style="color:white" aria-controls="all_users_web" role="tab" data-toggle="tab">All Users</a></li>
    <li role="presentation" ><a href="{{url_for('moderators_web')}}" style="color:white" aria-controls="moderators_web" role="tab" data-toggle="tab">Moderators</a></li>
    <li role="presentation" ><a href="{{url_for('admins_web')}}" style="color:white" aria-controls="admins_web" role="tab" data-toggle="tab">Admin</a></li>  
	{% endif %}
	</ul>
	<br><br>

<div class="col-lg-3"></div>
<div class="col-lg-6">
		   	{% for post in posts %}
		   		
		   		<div class="item" id={{post.postid}} style="background-color: white;margin-top: 10px;margin-bottom: 5px;padding-bottom: 10px;border-radius: 5px;margin-left: 10px;margin-right: 10px;border-color: black;box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);">
		                    <div class="row"> <a class="col-lg-12" style="padding-top: 10px;padding-bottom: 10px" href="#">{{post.postedby}}</a>
		                    
		                    </div>
		                    <hr style="border-color:#dae3e7;margin-top: 0px; margin-bottom: 10px;margin-right: 10px;margin-left: 10px ">
		                    <div class="row">
		                        <a class="col-md-3 col-sm-3 col-xs-12" href="#" >
		                            <img class="img-responsive project-image" style="align-items: center;" src="{{url_for('send_image', filename = post.postpic )}}"/>
		                        </a>
		                        <div class="desc col-md-9 col-sm-9 col-xs-12">
		                            <h3 class="title" style="height: 25px;overflow: hidden;"><a href="#">{{post.title}}</a></h3>
		                            <p style="max-height: 110px;overflow: hidden;">{{post.shortdesc}}</p>
		          				</div>
		          				<div class="col col-lg-12" style="margin-top: 20px;text-align: center;">
		                <hr style="border-color:#dae3e7;margin-top: 0px; margin-left: 10px;margin-right: 10px">
		                         <button class="btn btn-danger" onclick="callserver({{post.postid}},-1)"> Reject</button>
		                        <button class="btn btn-danger" style="margin-left: 20px" onclick="callserver({{post.postid}},0)">Pending</button>
		                                
		                      </div>
		                    </div>
		                  
		                </div>

   	{% endfor %}
   	</div>
   	<div class="col-lg-3"></div>
	
{% endblock %}