{% extends "header.html" %}
{% block body %}
<style >
      input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button,input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
body{
      overflow-x: hidden;
}
</style>

<div class="row" style="background-color: #dae9f3;margin: 0px;padding: 0px;">
<div class="col col-lg-2 removeminheight"></div>
<div class="col col-lg-8 container-fluid" style="margin-left: 15px;padding: 0px;box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);">
<form action="{{url_for('newpost')}}" method="Post" enctype="multipart/form-data">


      <h1 style="text-align: center;">Post form</h1>

      <h4>Post Title</h4>
      <input type="text" style="color: black;" placeholder="Enter post title" name="title" required>
      <!-- <hr style="margin-bottom: 0px;margin-top: 0px"> -->
      

      <h4>Short Description</h4>
      <input type="text" style="color: black;" placeholder="Enter short description" name="shortdes" required>
      <!-- <hr style="margin-bottom: 0px;margin-top: 0px"> -->
      

      <h4>Long Description</h4>
      <input type="text" style="color: black;" placeholder="Enter long description" name="longdes" required>
      <!-- <hr style="margin-bottom: 0px;margin-top: 0px"> -->

      <h4>Contact Number</h4>
      <input type="number" style="color: black;" placeholder="Enter contact" name="contact" required>
      <br>
      <!-- <hr style="margin-bottom: 0px;margin-top: 0px"> -->
      

      <h4>Start Date</h4>
      <input type="Date" style="color: black;" name="startdate" required>
<br>
      <h4>End Date</h4></label>
      <input type="Date" style="color: black;" name="enddate" required><br>



      <h4>Select Club</h4>
      <select name="club">
    <option value="misc">misc</option>
    <option value="club1">club2</option>
    <option value="club1">club3</option>
    <option value="club3">club4</option>
  </select><br>

       <h4>Upload Image</h4>
      <input type="file" id="postimage" name="file">
      
      <br>


      <input type="submit" value = "Submit" class="btn btn-success" style="margin-bottom: 10px;">
</form>
</div>

    <div class="col col-lg-2"></div>
  
    <!-- end container for the posts -->
  </div>
{% endblock %}
